Repository RushanCources/Project-38, pull requests merged in 2023-03, with the labels that each got.

#33 Issue 27 project request creation
  portal/projects/urls.py
  portal/projects/views.py
  portal/templates/projects/create.html
Labels: good first issue, Django

#41 From Issue25 admin menu creation into Main
  portal/.gitignore
  portal/__init__.py
  portal/announcements/decorators.py
  portal/announcements/migrations/0001_initial.py
  portal/announcements/migrations/0002_initial.py
  portal/announcements/migrations/0003_tag_announcement_tags.py
  portal/announcements/models.py
  portal/announcements/sqlscripts/delete_expired_values.py
  portal/announcements/templates/__init__.py
  portal/announcements/templates/announcements/editor.html
  portal/announcements/templates/announcements/index.html
  portal/announcements/templates/announcements/redactor.html
  portal/announcements/urls.py
  portal/announcements/views.py
  portal/db.sqlite3
  portal/liceum38/settings.py
  portal/liceum38/urls.py
  portal/manage.py
  portal/management/forms.py
  portal/management/models.py
  portal/management/urls.py
  portal/management/views.py
  portal/projects/migrations/0001_initial.py
  portal/projects/urls.py
  portal/projects/views.py
  portal/static/css/admin_menu/admin.css
  portal/static/css/global/footer.css
  portal/static/css/global/header.css
  portal/static/css/global/not_authorized.css
  portal/static/css/home_page/home.css
  portal/static/css/profile/profile.css
  portal/static/css/registration/login.css
  portal/static/css/theme_list/theme_list.css
  portal/static/img/admin_menu/Arrow.svg
  portal/static/img/admin_menu/arrow-down.svg
  portal/static/img/admin_menu/avatar.png
  portal/static/img/admin_menu/delete.svg
  portal/static/img/admin_menu/icon.png
  portal/static/img/admin_menu/pencil.svg
  portal/static/img/admin_menu/plus.svg
  portal/static/img/admin_menu/search.svg
  portal/static/img/global/arrow-down.svg
  portal/static/img/global/avatar.png
  portal/static/img/global/icon.png
  portal/static/img/global/long_logo.svg
  portal/static/img/global/not_authorized.jpg
  portal/static/img/home_page/1.jpg
  portal/static/img/profile/pencil.svg
  portal/static/js/admin_menu/admin.js
  portal/static/js/global/jquery.js
  portal/static/js/global/list.js
  portal/static/js/theme_list/theme_list.js
  portal/templates/admin_menu/admin.html
  portal/templates/base.html
  portal/templates/home.html
  portal/templates/profile/profile.html
  portal/templates/registration/login.html
  portal/templates/registration/register.html
  portal/templates/registration/token_page.html
  portal/templates/theme_list/theme_list.html
Labels: enhancement, html, SQL, Django

#47 Issue36 announcements board into Main
  portal/announcements/management/__init__.py
  portal/announcements/management/commands/__init__.py
  portal/announcements/management/commands/delete_expired_values.py
  portal/announcements/migrations/0004_announcement_image_urls.py
  portal/announcements/migrations/0005_remove_announcement_image_urls_announcement_image.py
  portal/announcements/migrations/0006_remove_announcement_image_image.py
  portal/announcements/migrations/0007_file.py
  portal/announcements/migrations/0008_remove_announcement_tags_delete_tag.py
  portal/announcements/migrations/0009_announcement_image_url_delete_image.py
  portal/announcements/migrations/0010_alter_announcement_image_url.py
  portal/announcements/models.py
  portal/announcements/sqlscripts/delete_expired_values.py
  portal/announcements/templates/announcements/editor.html
  portal/announcements/templates/announcements/index.html
  portal/announcements/templates/announcements/redactor.html
  portal/announcements/views.py
  portal/liceum38/settings.py
  portal/liceum38/urls.py
  portal/media/announcement_files/mamammr.txt
  portal/media/announcement_images/images.jpg
  portal/media/announcement_images/index.jpg
  portal/media/announcement_images/wgwgx.jpg
  portal/static/css/dec/Dec/dec.css
  portal/static/img/announcements/example
  portal/static/img/announcements/search.svg
  portal/templates/dec/dec.html
Labels: html, CSS, Django
