Repository RushanCources/Project-38, pull requests merged in 2023-08, with the labels that each got.

#131 Issue128 improving code readability for projects
  portal/projects/models.py
  portal/projects/urls.py
  portal/projects/views.py
  portal/static/js/projects/project_page.js
Labels: documentation, question

#134 Issue126 project on work UI
  .gitignore
  portal/management/migrations/0003_user_is_view_window.py
  portal/management/models.py
  portal/media/avatars/russia-avatar-pixelbox.ru-14.jpg
  portal/media/avatars/t2CNeSsPLNA_SaHWFrb.jpg
  portal/media/avatars/изображение_2023-06-12_111914802.png
  portal/media/temp_tokens/tokens1.txt
  portal/projects/FileStorage.py
  portal/projects/migrations/0001_initial.py
  portal/projects/migrations/0002_file_name_project__type.py
  portal/projects/models.py
  portal/projects/views.py
  portal/static/css/dec/dec.css
  portal/static/css/profile/profile.css
  portal/static/css/projects/index.css
  portal/static/css/projects/project_page.css
  portal/static/css/projects/project_page_request.css
  portal/static/css/projects/project_page_work.css
  portal/static/img/project/noy.svg
  portal/static/img/project/project.svg
  portal/static/js/profile/profile.js
  portal/static/js/projects/project_page.js
  portal/static/js/projects/project_page_on_work.js
  portal/templates/dec/dec.html
  portal/templates/profile/profile.html
  portal/templates/projects/index.html
  portal/templates/projects/project_page.html
Labels: enhancement, html, CSS, JS, Django

#141 переписал использование предметов в projects и добавил предметы по ум…
  portal/projects/models.py
  portal/projects/views.py
  portal/static/js/projects/project_page.js
  portal/subjects/apps.py
  portal/templates/projects/create.html
  portal/templates/projects/project_page.html
Labels: enhancement, html, Django

#143 Issue142 create search for users
  portal/management/apps.py
  portal/management/migrations/0004_user_full_name_alter_user_middle_name.py
  portal/management/models.py
  portal/management/views.py
  portal/media/temp_tokens/tokens4.txt
  portal/static/css/admin_menu/admin.css
  portal/static/js/admin_menu/admin.js
  portal/templates/admin_menu/admin.html
Labels: bug, html, CSS, SQL, Django

#156 issue 153 register fix
  portal/management/forms.py
  portal/management/models.py
  portal/management/urls.py
  portal/management/views.py
  portal/media/temp_tokens/tokens4.txt
  portal/static/css/registration/login.css
  portal/static/img/global/not_token.jpg
  portal/templates/admin_menu/admin.html
  portal/templates/registration/register.html
Labels: bug, html, SQL, Django
